@model QualityCaps.Models.Order

@{
    ViewData["Title"] = "Purchaseds";
}

<h2><span class="glyphicon glyphicon-saved">Thank you for your purchased!</span></h2>

<div>
    <h4>The following order will be dispatched as per the details below:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.User.Email)</dt>
        <dd>@Html.DisplayFor(model => model.User.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.User.Address)</dt>
        <dd>@Html.DisplayFor(model => model.User.Address)</dd>

        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dd>@Html.DisplayFor(model => model.Total)</dd>

        <dt>@Html.DisplayNameFor(model => model.OrderDate)</dt>
        <dd>@Html.DisplayFor(model => model.OrderDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <dd>
            <table class="table">
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>

                </tr>
                @foreach (var item in Model.OrderDetails)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cap.CapName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cap.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                </tr>
                }

                <tr>
                    <td></td>

                    <td>
                        <label>Total:</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Total)
                    </td>
                </tr>

            </table>
            <br />
        </dd>
    </dl>
    <a class="btn btn-default" asp-area="" asp-controller="Products" asp-action="Index">Continue Shopping</a>
</div>

